source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget JetBrains.Psi.Features.Core
nuget Jetbrains.Psi.Features.src
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget Paket.Core
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx